<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../engine/Shopware/Components/Plugin/schema/config.xsd">

    <elements>
        <element type="text">
            <name>refresh</name>
            <label lang="de">Refresh</label>
            <label lang="en">Aktualisierung</label>
            <value>15</value>
            <description lang="de">Wie oft die Menge abfragen</description>
            <description lang="en">Time of reload</description>
        </element>
    </elements>

</config>